.movie-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 24px;
  flex-wrap: wrap;
}

.banner-head {
  color: blue;
}

.shimmer-card {
  width: 200px;
  height: 200px;
  position: relative; 
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #f2f4f7 10%, #f0f0f2 20%, #f2f4f7 30%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 200px;

  /* Animation */
  animation-duration: 1s;
  
  /* Specifies style for element when animation isn't playing */
  animation-fill-mode: forwards;
  
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: ease-in-out;

  background-color: grey;
}

@keyframes shimmer-card {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0; 
  }
}

img {
  width: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: teal;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.movie-card {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.movie-overview {
  padding: 12px;
  text-align: center;
  font-size: 12px;
}

/* .movie-image {
    margin-bottom: 40px;
} */

button {
  color: white;
  background-color: teal;
  padding: 6px 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

div > h3 {
  text-align: center;
}
