.movie-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 24px; 
    flex-wrap: wrap;
}

.banner-head {
    color: blue
}

.shimmer-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 24px; 
    flex-wrap: wrap;
    background-color: grey;
}

img {
    width: 100%
}

.movie-card {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.movie-overview {
    padding: 12px;
    text-align: center;
    font-size: 12px;
}

/* .movie-image {
    margin-bottom: 40px;
} */

button {
    color: white;
    background-color: teal;
    padding: 6px 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

div > h3 {
    text-align: center;
}